node_modules/
dist/
.env*
!.env.example
*.log
server/prisma/*.db
server/prisma/*.db-journal
scratch/
server/scratch/
client/scratch/

# Ignore Stitch design folder and UI images
# design/
# *.png
# *.jpg
# *.jpeg
# *.svg
# *.webp