# Dependency directories
node_modules/

# Production build output
dist/

# Environment variables
.env

# Prisma Client
src/generated/

# Logs
logs/
*.log

# Editor & OS files
.DS_Store
.vscode/
.idea/
